fastapi
uvicorn
python-multipart
openai
anthropic
pydantic
aiohttp
python-dotenv
groq
langchain
langchain-community
langchain-google-genai
bs4
faiss-cpu
python-multipart
pypdf
firebase-admin
autogen
langchain_groq
langchain-openai